Proyecto Properati - Grupo 5

Bajamos el CSV

In [139]:
import pandas as pd
import numpy as np

In [419]:
# local:
data_location = "../Proyecto/properati (1).csv"


data = pd.read_csv(data_location, sep=",", encoding="latin1")

In [420]:
data

,Unnamed: 0,operation,property_type,place_name,place_with_parent_names,country_name,state_name,geonames_id,lat-lon,lat,...,surface_covered_in_m2,price_usd_per_m2,price_per_m2,floor,rooms,expenses,properati_url,description,title,image_thumbnail
0,0,sell,PH,Mataderos,|Argentina|Capital Federal|Mataderos|,Argentina,Capital Federal,3430787.0,"-34.6618237,-58.5088387",-34.661824,...,40.0,1127.272727,1550.000000,NaN,NaN,NaN,http://www.properati.com.ar/15bo8_venta_ph_mat...,"2 AMBIENTES TIPO CASA PLANTA BAJA POR PASILLO,...",2 AMB TIPO CASA SIN EXPENSAS EN PB,https://thumbs4.properati.com/8/BluUYiHJLhgIIK...
1,1,sell,apartment,La Plata,|Argentina|Bs.As. G.B.A. Zona Sur|La Plata|,Argentina,Bs.As. G.B.A. Zona Sur,3432039.0,"-34.9038831,-57.9643295",-34.903883,...,NaN,NaN,NaN,NaN,NaN,NaN,http://www.properati.com.ar/15bob_venta_depart...,Venta de departamento en dÃ©cimo piso al frent...,VENTA Depto 2 dorm. a estrenar 7 e/ 36 y 37 ...,https://thumbs4.properati.com/7/ikpVBu2ztHA7jv...
2,2,sell,apartment,Mataderos,|Argentina|Capital Federal|Mataderos|,Argentina,Capital Federal,3430787.0,"-34.6522615,-58.5229825",-34.652262,...,55.0,1309.090909,1309.090909,NaN,NaN,NaN,http://www.properati.com.ar/15bod_venta_depart...,2 AMBIENTES 3ER PISO LATERAL LIVING COMEDOR AM...,2 AMB 3ER PISO CON ASCENSOR APTO CREDITO,https://thumbs4.properati.com/5/SXKr34F_IwG3W_...
3,3,sell,PH,Liniers,|Argentina|Capital Federal|Liniers|,Argentina,Capital Federal,3431333.0,"-34.6477969,-58.5164244",-34.647797,...,NaN,NaN,NaN,NaN,NaN,NaN,http://www.properati.com.ar/15boh_venta_ph_lin...,PH 3 ambientes con patio. Hay 3 deptos en lote...,PH 3 amb. cfte. reciclado,https://thumbs4.properati.com/3/DgIfX-85Mog5SP...
4,4,sell,apartment,Centro,|Argentina|Buenos Aires Costa AtlÃ¡ntica|Mar d...,Argentina,Buenos Aires Costa AtlÃ¡ntica,3435548.0,"-38.0026256,-57.5494468",-38.002626,...,35.0,1828.571429,1828.571429,NaN,NaN,NaN,http://www.properati.com.ar/15bok_venta_depart...,DEPARTAMENTO CON FANTÃSTICA ILUMINACIÃN NATU...,DEPTO 2 AMB AL CONTRAFRENTE ZONA CENTRO/PLAZA ...,https://thumbs4.properati.com/5/xrRqlNcSI_vs-f...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
121215,121215,sell,apartment,Belgrano,|Argentina|Capital Federal|Belgrano|,Argentina,Capital Federal,3436077.0,NaN,NaN,...,93.0,7699.115044,9354.838710,NaN,NaN,10000.0,http://www.properati.com.ar/1cja2_venta_depart...,TORRE FORUM ALCORTA - MÃXIMA CATEGORÃA.Impec...,Torre Forum Alcorta- Impecable 3 ambientes,https://thumbs4.properati.com/1/bjms0KnaAnlNoQ...
121216,121216,sell,house,Beccar,|Argentina|Bs.As. G.B.A. Zona Norte|San Isidro...,Argentina,Bs.As. G.B.A. Zona Norte,3436080.0,NaN,NaN,...,360.0,1383.333333,1383.333333,NaN,NaN,NaN,http://www.properati.com.ar/1cja6_venta_casa_b...,Excelente e impecable casa en Venta en Las Lom...,Ruca Inmuebles | Venta | Lomas de San Isidro |...,https://thumbs4.properati.com/2/PCc3WuQDjpNZc4...
121217,121217,sell,apartment,Villa Urquiza,|Argentina|Capital Federal|Villa Urquiza|,Argentina,Capital Federal,3433775.0,"-34.5706388726,-58.4755963355",-34.570639,...,39.0,2858.695652,3371.794872,NaN,NaN,NaN,http://www.properati.com.ar/1cja7_venta_depart...,VENTA DEPARTAMENTO AMBIENTE DIVISIBLE A ESTREN...,VENTA DEPARTAMENTO AMBIENTE DIVISIBLE A ESTREN...,https://thumbs4.properati.com/9/YAe_-2gRVykADP...
121218,121218,sell,apartment,Plaza ColÃ³n,|Argentina|Buenos Aires Costa AtlÃ¡ntica|Mar d...,Argentina,Buenos Aires Costa AtlÃ¡ntica,NaN,NaN,NaN,...,48.0,1997.916667,1997.916667,NaN,NaN,NaN,http://www.properati.com.ar/1cja8_venta_depart...,"2 Amb al contrafrente, luminoso. El departame...",2 amb. C/ dep. de servicio al contrafrente| Re...,https://thumbs4.properati.com/8/Q12PTvU6BQJ0ib...
121219,121219,sell,apartment,Capital Federal,|Argentina|Capital Federal|,Argentina,Capital Federal,3433955.0,NaN,NaN,...,77.0,1675.324675,1675.324675,NaN,NaN,3500.0,http://www.properati.com.ar/1cjaa_venta_depart...,Departamento de 77 m2 apto profesional. Edific...,Departamento apto profesional en el Centro,https://thumbs4.properati.com/8/mNEsnQWqB7joBF...

In [141]:
data.isnull().sum()

Unnamed: 0                         0
operation                          0
property_type                      0
place_name                        23
place_with_parent_names            0
country_name                       0
state_name                         0
geonames_id                    18717
lat-lon                        51550
lat                            51550
lon                            51550
price                          20410
currency                       20411
price_aprox_local_currency     20410
price_aprox_usd                20410
surface_total_in_m2            39328
surface_covered_in_m2          19907
price_usd_per_m2               52603
price_per_m2                   33562
floor                         113321
rooms                          73830
expenses                      106958
properati_url                      0
description                        2
title                              0
image_thumbnail                 3112
dtype: int64

In [142]:
data.isnull().sum() / data.shape[0] *100

Unnamed: 0                     0.000000
operation                      0.000000
property_type                  0.000000
place_name                     0.018974
place_with_parent_names        0.000000
country_name                   0.000000
state_name                     0.000000
geonames_id                   15.440521
lat-lon                       42.525986
lat                           42.525986
lon                           42.525986
price                         16.837156
currency                      16.837981
price_aprox_local_currency    16.837156
price_aprox_usd               16.837156
surface_total_in_m2           32.443491
surface_covered_in_m2         16.422208
price_usd_per_m2              43.394654
price_per_m2                  27.686850
floor                         93.483749
rooms                         60.905791
expenses                      88.234615
properati_url                  0.000000
description                    0.001650
title                          0.000000
image_thumbnail                2.567233
dtype: float64

In [143]:
sup_1 = ['surface_total_in_m2', 'surface_covered_in_m2']
data[sup_1].shape

(121220, 2)

In [186]:
clm1 = data['surface_total_in_m2']
clm2 = data['surface_covered_in_m2']
clm3 = pd.Series(np.zeros(121220,) )
data1 = pd.DataFrame({'surface_total_in_m2': clm1,'surface_covered_in_m2':clm2 , 'surface_total_clean':clm3})
data2 = pd.DataFrame({'surface_total_in_m2': clm1,'surface_covered_in_m2':clm2})

In [178]:
print("Total Nulos en surface_total_in_m2: ", str(data2.surface_total_in_m2.isnull().sum()))
print("Total Nulos en surface_covered_in_m2: ", str(data2.surface_covered_in_m2.isnull().sum()))

print('Cantidad de Filas: ', str(data2.shape[0]))

print("Porcentaje de nulos en surface_total_in_m2: ", str(round(data2.surface_total_in_m2.isnull().sum() / data2.shape[0] * 100,ndigits=2)) )
print("Porcentaje de nulos en surface_covered_in_m2: ", str(round(data2.surface_covered_in_m2.isnull().sum() / data2.shape[0] * 100,ndigits=2)) )

Total Nulos en surface_total_in_m2:  39328
Total Nulos en surface_covered_in_m2:  19907
Cantidad de Filas:  121220
Porcentaje de nulos en surface_total_in_m2:  32.44
Porcentaje de nulos en surface_covered_in_m2:  16.42

In [280]:
data1

        surface_total_in_m2  surface_covered_in_m2  surface_total_clean
0                      55.0                   40.0                  0.0
1                       NaN                    NaN                  0.0
2                      55.0                   55.0                  0.0
3                       NaN                    NaN                  0.0
4                      35.0                   35.0                  0.0
...                     ...                    ...                  ...
121215                113.0                   93.0                  0.0
121216                360.0                  360.0                  0.0
121217                 46.0                   39.0                  0.0
121218                 48.0                   48.0                  0.0
121219                 77.0                   77.0                  0.0

[121220 rows x 3 columns]

In [275]:
mask_NaN1 = data2.surface_total_in_m2.isnull()
mask_NaN2 = data2.surface_covered_in_m2.isnull()
mask_value1 = data2.surface_total_in_m2.notnull()
mask_value2 = data2.surface_covered_in_m2.notnull()
mask_NaN1y2 = data2.isnull()
mask_value1_NaN2 = pd.DataFrame({'surface_total_in_m2': mask_value1,'surface_covered_in_m2':mask_NaN2})
mask_NaN1_value2 = pd.DataFrame({'surface_total_in_m2': mask_NaN1,'surface_covered_in_m2':mask_value2})
mask_value1_value2 = pd.DataFrame({'surface_total_in_m2': mask_value1,'surface_covered_in_m2':mask_value2})

In [331]:
# tanto 1 como 2 son NaN
NaN_1y2 = mask_NaN1y2.all(axis = 1)
NaN_1y2.sum()
# debo asignar NaN a todos los True

12369

In [332]:
#1 es Value y 2 es NaN
Value1_NaN2 = mask_value1_NaN2.all(axis = 1)
Value1_NaN2.sum()
#debo debo asignar el value de 1 a la columna 3

7538

In [333]:
# 1 es NaN y 2 es Value
NaN1_Value2 = mask_NaN1_value2.all(axis = 1)
NaN1_Value2.sum()
#debo asignar el value de 2 a la columna 3

26959

In [334]:
# Tanto 1 como 2 son Value
mask_value1_value2.all(axis = 1).sum()
    # si 1>2 --> 3 = 1
mask_1mayor2 = data2.surface_total_in_m2 > data2.surface_covered_in_m2
print(mask_1mayor2.sum())
    # si 1<2 --> 3 = VER
mask_1menor2 = data2.surface_total_in_m2 < data2.surface_covered_in_m2
print(mask_1menor2.sum())
    #si 1 = 2 --> 3 = 1
mask_1igual2 = data2.surface_total_in_m2 == data2.surface_covered_in_m2
print(mask_1igual2.sum())

49075
1106
24173

In [337]:
data3  = pd.DataFrame({'surface_total_in_m2': clm1,'surface_covered_in_m2':clm2,'NaN_1y2':NaN_1y2,'Value1_NaN2':Value1_NaN2,'NaN1_Value2':NaN1_Value2,'mask_1mayor2':mask_1mayor2,'mask_1menor2': mask_1menor2,'mask_1igual2':mask_1igual2})
data3.head()

,surface_total_in_m2,surface_covered_in_m2,NaN_1y2,Value1_NaN2,NaN1_Value2,mask_1mayor2,mask_1menor2,mask_1igual2
0,55.0,40.0,False,False,False,True,False,False
1,NaN,NaN,True,False,False,False,False,False
2,55.0,55.0,False,False,False,False,False,True
3,NaN,NaN,True,False,False,False,False,False
4,35.0,35.0,False,False,False,False,False,True

In [364]:
serie1 = data3.apply(lambda x: x['surface_total_in_m2'] if x['NaN_1y2'] else "" , axis = 1)

serie2 = data3.apply(lambda x: x['surface_total_in_m2'] if x['Value1_NaN2'] else "" , axis = 1)

serie3 = data3.apply(lambda x: x['surface_covered_in_m2'] if x['NaN1_Value2'] else "" , axis = 1)

serie4 = data3.apply(lambda x: x['surface_total_in_m2'] if x['mask_1mayor2'] else "" , axis = 1)

serie5 = data3.apply(lambda x: "BORRAR" if x['mask_1menor2'] else "" , axis = 1)

serie6 = data3.apply(lambda x: x['surface_total_in_m2'] if x['mask_1igual2'] else "" , axis = 1)

In [393]:
data4 = pd.concat([serie1,serie2,serie3,serie4,serie5,serie6],axis = 1)

In [401]:
data5 = data4.to_numpy().flatten()
data6 = pd.DataFrame(data5[data5 != ""], columns=['surface_total_clean'])

In [421]:
data6.loc[8255,]

surface_total_clean    NaN
Name: 8255, dtype: object

In [424]:
print(data.shape)
print(data6.shape)

(121220, 26)
(121220, 1)

In [404]:
data6.to_excel(r'C:\Users\Nicolas\ds_blend_students_2020\Proyecto.xlsx', index = False, header=True)

In [432]:
data['surface_total_clean'] = data6
data.isnull().sum() / data.shape[0] * 100

Unnamed: 0                     0.000000
operation                      0.000000
property_type                  0.000000
place_name                     0.018974
place_with_parent_names        0.000000
country_name                   0.000000
state_name                     0.000000
geonames_id                   15.440521
lat-lon                       42.525986
lat                           42.525986
lon                           42.525986
price                         16.837156
currency                      16.837981
price_aprox_local_currency    16.837156
price_aprox_usd               16.837156
surface_total_in_m2           32.443491
surface_covered_in_m2         16.422208
price_usd_per_m2              43.394654
price_per_m2                  27.686850
floor                         93.483749
rooms                         60.905791
expenses                      88.234615
properati_url                  0.000000
description                    0.001650
title                          0.000000
image_thumbnail                2.567233
surface_total_clean           10.203762
dtype: float64